.button {
  font: inherit;
  border: 1px solid rgb(77, 0, 200);
  background-color: rgb(77, 0, 200);
  color: rgb(255, 255, 255);
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover,
.button:active {
  background-color: rgb(100, 55, 167);
  border-color: rgb(100, 55, 167);
}

.button:focus {
  outline: none;
}
